<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>travel-info</title>
        <th:block th:include="include/head"></th:block>

        <script src="/js/travel-info.js" defer></script>
</head>
<body>
<!--        modal-->
    <div th:include="include/modal"></div>
<!--        spinner-->
    <div th:include="include/spinner"></div>

    <form id="travel-info-form" action="/travel-plan" method="post">
<!--        출발지-->
        <label for="departure-place">출발지</label>
        <select id="departure-place" name="departure-place">
            <option>선택</option>
        </select>
<!--        여행지-->
        <label for="destination">여행지</label>
        <select id="destination" name="destination">
            <option>선택</option>
        </select>
<!--        출발일-->
        <label for="departure-date">출발일</label>
        <input type="date" id="departure-date" name="departure-date" value="2023-10-10">
<!--        도착일-->
        <label for="return-date">도착일</label>
        <input type="date" id="return-date" name="return-date" value="2023-10-11">
<!--&lt;!&ndash;        체크인&ndash;&gt;-->
<!--        <label for="checkin-date">체크인</label>-->
<!--        <input type="date" id="checkin-date" name="checkin-date" value="2023-10-10">-->
<!--&lt;!&ndash;        체크아웃&ndash;&gt;-->
<!--        <label for="checkout-date">체크아웃</label>-->
<!--        <input type="date" id="checkout-date" name="checkout-date" value="2023-10-11">-->
<!--        인원-->
        <label for="traveler-number">인원</label>
        <input type="number" id="traveler-number" name="traveler-number" value="1">
<!--        객실 개수-->
        <label for="room-number">객실 개수</label>
        <input type="number" id="room-number" name="room-number" value="1">
<!--        객실 개수-->
        <label for="attraction-number">관광지 개수</label>
        <input type="number" id="attraction-number" name="attraction-number" value="1">
<!--        관광지 키워드-->
<!--        <label for="attraction-keyword">관광지 키워드</label>-->
<!--        <select id="attraction-keyword" name="attraction-keyword">-->
<!--            <option>먼저 도착지를 선택하세요.</option>-->
<!--        </select>-->

        <button id="travel-info-btn" type="button">경로 찾기</button>

    </form>
</body>
</html>