<!-- shared-->
<link rel="stylesheet" type="text/css" href="/css/shared.css">
<!-- spinner -->
<link rel="stylesheet" type="text/css" href="/css/util/spinner.css">
<script src="/js/util/spinner.js" defer></script>
<!-- modal -->
<script src="/js/util/modal.js" defer></script>
<link rel="stylesheet" type="text/css" href="/css/util/modal.css">
<!-- fetch -->
<script src="/js/util/fetch.js" defer></script>
<!-- json -->
<script src="/js/util/json.js" defer></script>
<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">​